testchecker
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/ipch/AutoPCH/e9399ea553ea2f5/MAIN.ipch
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/ipch/AutoPCH/d465873e5ec6cea/COLORPAIR.ipch
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/ipch/AutoPCH/6921b3f2b5973ae9/COLORPAIR.ipch
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/Browse.VC.opendb
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/Browse.VC.db
/.vs/modularity-cpp-PrajwalHM-Gaargesh/v15/.suo
/.vs/VSWorkspaceState.json
